.forecast {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.ui.loader {
  margin-top: 20px;
}

.weather {
  display: flex;
  justify-content: center;
}

.ui.loader.claim_loader {
  margin-top: 20px;
}
